body {
	height: 800dvh;
}

.wrapper {
	background-color: #0101;
	position: relative;
}

.webgl {
	display: inline-block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.anim {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	font-size: 24px;
	padding: .5rem 1rem;
}