:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0in;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
	height: 800dvh;
}

.wrapper {
	background-color: #0101;
	position: relative;
}

.webgl {
	display: inline-block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
